[user]
	name = Jim Sangwine
	email = jim@sangwine.net
[core]
	excludesfile = /Users/jim/.gitignore_global
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff $LOCAL $REMOTE
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff $LOCAL $REMOTE $MERGED
	trustExitCode = true
[credential]
	helper = store
