<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
Stop the Nuon HipChat bots every morning at 01:00
-->
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>net.sangwine.stophipchatbots</string>
    <key>ProgramArguments</key>
    <array>
      <string>bash</string>
      <string>-c</string>
      <string>~/launchd-scripts/stop-hipchat-bots.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>01</integer>
        <key>Minute</key>
        <integer>00</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/jim/Desktop/launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jim/Desktop/launchd.log</string>
  </dict>
</plist>
